[Unit]
Description=Pulls from Pepito repo and starts the program
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/startup.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target